<p>Ogrest possède 30% DI dès le début et gagne 1% chaque 50000 dgts. 1M = 20%. Chaque tour il invoque 3 larmes</p>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name}}</h2>
  <div>
    <li *ngFor="let info of selectedHero.infos">
        <span class="name">{{info}}</span>
        <br>
        <br>
      </li>
  </div>
</div>
